*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


.idea/gradle.xml

.idea/encodings.xml

.idea/encodings.xml

.idea/encodings.xml

.idea/gradle.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/misc.xml

.idea/dictionaries/
